Repository ocralo/react-component-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
	"**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
	"**/*.{json,md,html,css,scss,yml,yaml}": ["prettier --write"],
	"**/*.{spec,test}.{ts,tsx,js,jsx}": ["eslint --fix"]
}

feat: generate code base and test base
  README.md
  package.json
  src/__tests__/index.spec.ts
  src/index.ts
Due: eslint --fix, prettier --write

feat: add colors in commands logs
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: add title in app
  package-lock.json
  package.json
  src/index.ts
Due: eslint --fix, prettier --write

feat: update readme and add commands and collaborators sections
  README.md
Due: prettier --write

feat: add PR template for github
  .github/pull_request_template.md
Due: prettier --write

Feat: add colors in commands logs, PR template and update README (#1)
  .github/pull_request_template.md
  README.md
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: update package.json
  package.json
Due: prettier --write

feat: update package.json (#2)
  package.json
Due: prettier --write

feat: generate CI for pull reques
  .github/workflows/pullRequest.yml
Due: prettier --write

feat: generate CI for pull reques (#3)
  .github/workflows/pullRequest.yml
Due: prettier --write

feat: add templates
  src/templates/components/_index.spec.tsx.ejs
  src/templates/components/index.tsx.ejs
  src/templates/components/interface.ts.ejs
  src/templates/components/style.scss.ejs
Due: none

feat: add build with rollup
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.rollup.json
Due: eslint --fix, prettier --write

feat: add creation component
  src/index.ts
Due: eslint --fix

feat: update tsconfig
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

feat: update package.json
  package-lock.json
  package.json
Due: prettier --write

docs: update Readme
  LICENSE
  README.md
Due: prettier --write

feat: add alias and update jest config
  jest.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: update tests scripts
  package.json
Due: prettier --write

feat: add command to create fuctional component
  src/commands/react/functional/__tests__/index.spec.ts
  src/commands/react/functional/index.ts
Due: eslint --fix

feat: update jest config
  jest.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: add utils
  src/utils/__tests__/fileSystemUtils.spec.ts
  src/utils/__tests__/renderTemplate.spec.ts
  src/utils/__tests__/spinnerUtils.spec.ts
  src/utils/__tests__/string.spec.ts
  src/utils/fileSystemUtils.ts
  src/utils/renderTemplate.ts
  src/utils/spinnerUtils.ts
  src/utils/string.ts
Due: eslint --fix

feat: update command to create fuctional component
  src/__tests__/index.spec.ts
  src/index.ts
Due: eslint --fix

feat: update action to run nuew commands
  .github/workflows/pullRequest.yml
Due: prettier --write

Feat: add creation template by commands (#4)
  .github/workflows/pullRequest.yml
  LICENSE
  README.md
  jest.config.ts
  package-lock.json
  package.json
  rollup.config.js
  src/__tests__/index.spec.ts
  src/commands/react/functional/__tests__/index.spec.ts
  src/commands/react/functional/index.ts
  src/index.ts
  src/templates/components/_index.spec.tsx.ejs
  src/templates/components/index.tsx.ejs
  src/templates/components/interface.ts.ejs
  src/templates/components/style.scss.ejs
  src/utils/__tests__/fileSystemUtils.spec.ts
  src/utils/__tests__/renderTemplate.spec.ts
  src/utils/__tests__/spinnerUtils.spec.ts
  src/utils/__tests__/string.spec.ts
  src/utils/fileSystemUtils.ts
  src/utils/renderTemplate.ts
  src/utils/spinnerUtils.ts
  src/utils/string.ts
  tsconfig.json
  tsconfig.rollup.json
Due: eslint --fix, prettier --write

feat: add new workflows for deploy and build
  .github/workflows/deploy.yml
  .github/workflows/generate-release.yml
Due: prettier --write

feat: add new workflows for deploy and build (#5)
  .github/workflows/deploy.yml
  .github/workflows/generate-release.yml
Due: prettier --write

ci: correction deploy and release flow
  .github/workflows/deploy.yml
  .github/workflows/generate-release.yml
Due: prettier --write

ci: correction deploy and release flow (#6)
  .github/workflows/deploy.yml
  .github/workflows/generate-release.yml
Due: prettier --write

ci: correction artifacts in deploy and release flow
  .github/workflows/deploy.yml
  .github/workflows/generate-release.yml
Due: prettier --write

ci: correction artifacts in deploy and release flow (#7)
  .github/workflows/deploy.yml
  .github/workflows/generate-release.yml
Due: prettier --write

ci: add need build in generate release
  .github/workflows/generate-release.yml
Due: prettier --write

ci: add need build in generate release
  .github/workflows/deploy.yml
  .github/workflows/generate-release.yml
  package.json
Due: prettier --write

ci: update Node.js setup to use version from .nvmrc
  .github/workflows/generate-release.yml
Due: prettier --write

ci: add step to list tags in generate release workflow
  .github/workflows/generate-release.yml
Due: prettier --write

ci: update Node.js setup to use version from .nvmrc (#8)
  .github/workflows/generate-release.yml
Due: prettier --write

ci: update label categories in generate release workflow
  .github/workflows/generate-release.yml
Due: prettier --write

ci: update deployment workflow to trigger on manual dispatch and add npm publish step
  .github/workflows/deploy.yml
  .github/workflows/generate-release.yml
Due: prettier --write

ci: set up Git user configuration in generate release workflow
  .github/workflows/generate-release.yml
Due: prettier --write

1.1.1
  package-lock.json
  package.json
Due: prettier --write

1.1.3
  package-lock.json
  package.json
Due: prettier --write
